<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Saikat Cowin API</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>Covid 19 Vaccine Avaibility</h1>
      <p>This site shows only those centers where slots are available.</p>
      <form action="/" method="post">
        <label for="dis">Select Your District</label>
        <select class="form-control" name="dis" id="dis">
          <option value="alipdis">Alipurduar District</option>
          <option value="bankura">Bankura</option>
          <option value="basin24">Basirhat HD (North 24 Parganas)</option>
          <option value="birbhum">Birbhum</option>
          <option value="bishhd">Bishnupur HD (Bankura)</option>
          <option value="cooch">Cooch Behar</option>
          <option value="ddin">Dakshin Dinajpur</option>
          <option value="darjee">Darjeeling</option>
          <option value="diah">Diamond Harbor HD (S 24 Parganas)</option>
          <option value="ebardh">East Bardhaman</option>
          <option value="hoogly">Hoogly</option>
          <option value="howrah">Howrah</option>
          <option value="jalpai">Jalpaiguri</option>
          <option value="jhargram">Jhargram</option>
          <option value="kalim">Kalimpong</option>
          <option value="kolkata">Kolkata</option>
          <option value="malda">Malda</option>
          <option value="murshi">Murshidabad</option>
          <option value="nadia">Nadia</option>
          <option value="nandi">Nandigram HD (East Medinipore)</option>
          <option value="n24pgns">North 24 Parganas</option>
          <option value="pasmed">Paschim Medinipore</option>
          <option value="purmed">Purba Medinipore</option>
          <option value="purulia">Purulia</option>
          <option value="rampu">Rampurhat HD (Birbhum)</option>
          <option value="s24pgns">South 24 Parganas</option>
          <option value="udin">Uttar Dinajpur</option>
          <option value="wbardh">West Bardhaman</option>
        </select>
        <br />
        <button type="submit" id="submit" name="submit" class="btn btn-light">SUBMIT</button>
      </form>
    </div>
    <footer>
      Copyright Saikat Paul, 2020
    </footer>
  </body>
</html>
