<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vaccine Slots by Saikat</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <h1>Covid 19 Vaccine Avaibility - <%=title%></h1>
      <div class="table-responsive">
        <h1>No slots available in any center.</h1>
      </div>
      <footer>
        Copyright Saikat Paul, 2021
      </footer>
    </div>
  </body>
</html>
